* {
    margin: 0;

    color: white;
}

body {
    background-color: #271502;

}

/* navigatie */
nav {
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
}

nav a {
    font-size: 150%;
    text-decoration: none;
    font-family: 'Playfair Display';
}

.nav-links {
    font-weight: 600;
    height: 40px;
    margin: 2em 4em;
    display: flex;
    align-items: right;
    justify-content: left;
    justify-content: space-between;
    list-style: none;
}


.brussel {
    margin: 0 25em 0 0;
}

/* image homepage */

.headimage {
    margin-left: 9%;
}

.bc h2 {
    font-size: 300%;
}

.bc h3 {
    font-size: 150%;
}

.bc {
    text-align: center;
    position: absolute;
    margin-left: 35%;
    margin-top: 20%;
}

/* museums homepage */

h4 {
    margin: 2%;
    text-align: center;
    font-size: 200%;
}



.second {
    margin-right: 10%;
}

.second p {
    margin: 4%;
}

/* museums titel museum.html */

.titelm {
    margin-top: 5%;
}

.imgm {
    margin-left: 10%;
}

.secondimage {
    margin-right: 10%;

}

.imgm img {
    margin: 1%;
}

.museumstabel {
    display: flex;
    justify-content: space-around;

}

.imgmuseum {
    margin-top: 7%;
    margin-left: 12%;
}

.list {
    display: flex;
}

.imgm p {
    margin: 4%;
}

.secondimage p {
    margin: 5%;
}

.name {
    margin-left: 5%;
    margin-top: 12%;
}

.name p {
    margin: 5%;
    font-size: 120%;
}

iframe {
    margin-left: 15%;
    margin-top: 5%;
}

.museumsimg {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.museumOne {
    width: 50%;
    align-items: center;
}



#museum-data {
    display: flex;
    justify-content: space-between;
    margin: 0 10em;
    flex-wrap: wrap;
}

#museum-data h2 {
    font-size: 18px;
    margin: 4%;
}

#museum-data button {
    margin-bottom: 3%;
    margin-left: 4%;
    background-color: #532e06;
    padding: 2%;
    color: white;
    border: 2px solid #271502;
    border-radius: 5px;
}